*,
*::before,
*::after {
  margin: 0;
  box-sizing: inherit;
  padding: 0;
}

html {
  font-size: 62.5%; /* 16px * 62.5% = 10px = 1rem  */

  @include respond(tab-land) {
    // width < 1200px
    font-size: 56.25%; // 1 rem = 9px 9 / 16 = 0.5625 rem
  }

  @include respond(tab-port) {
    // width < 900px
    font-size: 50%; // 1 rem = 8px
  }

  @include respond(big-desktop) {
    // width > 1800px
    font-size: 75%; // 1 rem = 12px
  }
}

body {
  box-sizing: border-box;
}
